<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firebal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{40,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{45,223},{40,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firebal_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{44,13}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{47,1},{44,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firebal_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{38,13}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{18,320},{38,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firebal_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{40,13}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,290},{40,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,54},{42,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,71},{42,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,88},{42,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{45,91},{42,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firebal_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{42,13}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{47,47},{42,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firebal_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{40,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,239},{40,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,105},{42,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,122},{42,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{44,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,20},{44,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{38,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,320},{38,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firebal_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{40,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,256},{40,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{44,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,37},{44,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{45,135},{42,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firebal_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,139},{42,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{40,13}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,305},{40,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{42,13}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,224},{42,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,156},{42,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{38,13}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{33,320},{38,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firebal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{40,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{43,265},{40,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firebal_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{38,13}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{48,307},{38,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firebal_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{40,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,273},{40,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,173},{42,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{45,179},{42,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firebal_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{44,17}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,1},{44,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,190},{42,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firebal_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1,207},{42,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goblin2.png</string>
            <key>size</key>
            <string>{62,359}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06caa844464cb3023ee288c93dd7cde1:84afdc8bfd86ba2312e8996319d2dc87:847fdde3d34b41dd9932233418fa95e1$</string>
            <key>textureFileName</key>
            <string>goblin2.png</string>
        </dict>
    </dict>
</plist>
