<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>portal(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,11}</string>
                <key>spriteSourceSize</key>
                <string>{4,11}</string>
                <key>textureRect</key>
                <string>{{0,0},{4,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,173}</string>
                <key>spriteSourceSize</key>
                <string>{54,173}</string>
                <key>textureRect</key>
                <string>{{58,540},{54,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,171}</string>
                <key>spriteSourceSize</key>
                <string>{52,171}</string>
                <key>textureRect</key>
                <string>{{0,714},{52,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,171}</string>
                <key>spriteSourceSize</key>
                <string>{52,171}</string>
                <key>textureRect</key>
                <string>{{52,714},{52,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,172}</string>
                <key>spriteSourceSize</key>
                <string>{52,172}</string>
                <key>textureRect</key>
                <string>{{0,885},{52,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,173}</string>
                <key>spriteSourceSize</key>
                <string>{51,173}</string>
                <key>textureRect</key>
                <string>{{52,885},{51,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,173}</string>
                <key>spriteSourceSize</key>
                <string>{51,173}</string>
                <key>textureRect</key>
                <string>{{0,1058},{51,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,174}</string>
                <key>spriteSourceSize</key>
                <string>{51,174}</string>
                <key>textureRect</key>
                <string>{{51,1058},{51,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,174}</string>
                <key>spriteSourceSize</key>
                <string>{51,174}</string>
                <key>textureRect</key>
                <string>{{0,1232},{51,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,177}</string>
                <key>spriteSourceSize</key>
                <string>{52,177}</string>
                <key>textureRect</key>
                <string>{{51,1232},{52,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,180}</string>
                <key>spriteSourceSize</key>
                <string>{53,180}</string>
                <key>textureRect</key>
                <string>{{0,1409},{53,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,48}</string>
                <key>spriteSourceSize</key>
                <string>{13,48}</string>
                <key>textureRect</key>
                <string>{{4,0},{13,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,180}</string>
                <key>spriteSourceSize</key>
                <string>{53,180}</string>
                <key>textureRect</key>
                <string>{{53,1409},{53,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,180}</string>
                <key>spriteSourceSize</key>
                <string>{52,180}</string>
                <key>textureRect</key>
                <string>{{0,1589},{52,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,180}</string>
                <key>spriteSourceSize</key>
                <string>{53,180}</string>
                <key>textureRect</key>
                <string>{{52,1589},{53,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,179}</string>
                <key>spriteSourceSize</key>
                <string>{53,179}</string>
                <key>textureRect</key>
                <string>{{0,1769},{53,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,179}</string>
                <key>spriteSourceSize</key>
                <string>{53,179}</string>
                <key>textureRect</key>
                <string>{{53,1769},{53,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,96}</string>
                <key>spriteSourceSize</key>
                <string>{28,96}</string>
                <key>textureRect</key>
                <string>{{17,0},{28,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,150}</string>
                <key>spriteSourceSize</key>
                <string>{42,150}</string>
                <key>textureRect</key>
                <string>{{45,0},{42,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,183}</string>
                <key>spriteSourceSize</key>
                <string>{52,183}</string>
                <key>textureRect</key>
                <string>{{0,150},{52,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,197}</string>
                <key>spriteSourceSize</key>
                <string>{57,197}</string>
                <key>textureRect</key>
                <string>{{52,150},{57,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,193}</string>
                <key>spriteSourceSize</key>
                <string>{56,193}</string>
                <key>textureRect</key>
                <string>{{0,347},{56,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,176}</string>
                <key>spriteSourceSize</key>
                <string>{53,176}</string>
                <key>textureRect</key>
                <string>{{56,347},{53,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,174}</string>
                <key>spriteSourceSize</key>
                <string>{58,174}</string>
                <key>textureRect</key>
                <string>{{0,540},{58,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>portal.png</string>
            <key>size</key>
            <string>{112,1948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e585d97050da92f86478775844ae49c:7c7a33fce456670aca6787a0c692819a:e4c47596fd83a77871a43204bcdead98$</string>
            <key>textureFileName</key>
            <string>portal.png</string>
        </dict>
    </dict>
</plist>
